.container-profile {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 10vh;
}
.container-35 {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 1.5vh;
  box-sizing: border-box;
}
.container-40 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 1.5vh;
  padding: 1.5vh 0;
  box-sizing: border-box;
}

.profileimg {
  width: 45vw;
}

.r-u-sure {
  margin-bottom: -9px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
}

@media screen and (max-width: 850px) {
  .logoo {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 20px;
    width: 120px;
  }
  .profile {
    font-size: 40px;
  }
  .profileimg {
    padding-left: 20px;
    margin-top: 50px;
  }

  .container-profile {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 450px) {
  .logoo {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 20px;
    width: 100px;
  }
  .profile {
    font-size: 30px;
  }
  .profileimg {
    padding-left: 10px;
    margin-top: 80px;
  }
}
