.game {
  display: flex;
  margin-top: 50px;
  flex-wrap: nowrap;
  align-items: center;
}
.game__you {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}
.game__you .text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.game__you .icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: transparent;
  border: 25px solid;
  background-size: 50%;
  transform: none !important;
}
.game__you .icon--paper {
  background-color: #fff;
  background-image: url("../../../assets/kertas.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
  transform: none !important;
}
.game__you .icon--paper--winner {
  box-shadow: 0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game__you .icon--scissors {
  background-color: #fff;
  background-image: url("../../../assets/gunting.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__you .icon--scissors--winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game__you .icon--rock {
  background-color: #fff;
  background-image: url("../../../assets/batu.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__you .icon--rock--winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game__play {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.game__play .text {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.game__play .text__win {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #5aff51;
}
.game__play .text__lose {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff5151;
}
.game__play .play-again {
  background-color: #fbff51;
  text-decoration: none !important;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}
.game__play .play-again:hover {
  color: red;
}
.game__com {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}
.game__com .text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.game__com .icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: transparent;
  border: 25px solid;
  background-size: 50%;
  transform: none !important;
}
.game__com .icon--paper {
  background-color: #fff;
  background-image: url("../../../assets/kertas.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__com .icon--paper--winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game__com .icon--scissors {
  background-color: #fff;
  background-image: url("../../../assets/gunting.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__com .icon--scissors--winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game__com .icon--rock {
  background-color: #fff;
  background-image: url("../../../assets/batu.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__com .icon--rock--winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game__com .counter {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #5551ff;
  color: #2f2e41;
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
