* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10rem;
  color: black;
}

header img {
  width: 100px;
}

nav a {
  margin: 0 2rem;
  color: black;
  text-decoration: none;
}

button {
  padding: 10px;
  width: 130px;
  cursor: pointer;
  background-color: #5551ff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 2rem;
}

button:hover {
  background-color: #6662ff;
  transition: 0.7s;
}

button a {
  color: #cfcfcf;
  text-align: center;
}
