.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  gap: 30px;
}

.first-container {
  display: flex;
  width: 0.8;
}

.second-container {
  display: row;
}
